@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
p {
  font-family: 'Lato', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
}
.italics {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}


/* ==========================================================================
   Grid Systems:
   ========================================================================== */
.col-1-3 {
  flex-basis: 33%;
}
.col-2-3 {
  flex-basis: 66%;
}
.col-1-2 {
  flex-basis: 50%;
}
.row {
  display: flex;
}
/* ==========================================================================
  Nav
   ========================================================================== */
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  margin: 10px;
}
nav ul {
  text-align: center;
}
/* ==========================================================================
   Home
   ========================================================================== */
.home-wrapper {
  display: flex;
  margin: 0px 30px 10px 10px;
}
#home h1 {
  text-align: center;
}
.about-para {
  padding: 0px 150px 0px 150px;
  text-align: center;
}
.home-vod-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-vod-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
/* ==========================================================================
   Shows
========================================================================== */
.shows-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0px 30px 10px 10px;
}
.host-shows {
  margin-bottom: 10px;
}
.host-shows-text {
  padding: 50px 80px 50px 40px;
}
 /* ==========================================================================
  Footer
========================================================================== */
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
