@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
p {
  font-family: 'Lato', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
}
.italics {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}


/* ==========================================================================
   Grid Systems:
   ========================================================================== */
.col-1-3 {
  flex-basis: 33%;
}
.col-2-3 {
  flex-basis: 66%;
}
.col-1-2 {
  flex-basis: 50%;
}
.row {
  display: flex;
}
.home-wrapper {
  display: flex;
}
.schedule-wrapper {
  display: flex;
  justify-content: space-around;
}
.shows-wrapper {
  display: flex;
  justify-content: space-around;
}
.contact-wrapper {
  display: flex;
  justify-content: space-around;
}
/* ==========================================================================
  Nav
   ========================================================================== */
nav li {
  display: inline-block;
}
nav li a {
    text-decoration: none;
}
nav ul {
  text-align: center;
}
/* ==========================================================================
   Home
   ========================================================================== */
#home h1 {
  text-align: center;
}
.about-para {
  padding: 0px 150px 0px 150px;
  text-align: center;
}

 /* ==========================================================================
  Footer
========================================================================== */
.footer-wrapper {
  display: flex;
  justify-content: space-around;
}
